@import '../../../styles/App.scss';

.reviews {
  padding: 110px 10px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(180deg, #f9e9f7 0%, #ffffff 100%);
}

.title {
  font-weight: 700;
  font-size: 48px;

  color: #000000;
}

.wrapperReviews {
  max-width: 1360px;
  margin: 50px 0 0 0;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
}

.reviewsVK {
  max-width: 900px;
  max-height: 790px;

  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(211, 46, 135, 0.2);
}

@media (max-width: 1080px) {
  .reviews {
    padding: 80px 10px;
  }
}

@media (max-width: 600px) {
  .reviews {
    padding: 40px 10px;
  }

  .title {
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (600 - 320)));
  }
}