@import '../../../styles/App.scss';

.collectionVideos {
  padding: 150px 10px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #f9e9f7;
}

.title {
  font-weight: 700;
  font-size: 48px;
}

.video {
  height: 790px;
  width: 440px;

  display: flex;

  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 48px;

  border-radius: 20px;

  background-color: #ffffff;
}
