@import '../../../styles/App.scss';

.collectionVideos {
  padding: 150px 0px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #f9e9f7;
}

.title {
  font-weight: 700;
  font-size: 48px;
}

.sliderVideo {
  width: 1900px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.castomBtnCarusel {
  position: absolute;
  width: 1900px;

  display: flex;
  justify-content: space-between;

  &__btnCarusel {
    width: 74px;
    height: 74px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;

    background-color: #ffffff;
    box-shadow: 0px 4px 76px rgba(211, 46, 135, 0.3);

    cursor: pointer;
  }
}
