@import "../../../styles/App.scss";

.collectionVideos {
  padding: 90px 0 0 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #f9e9f7;

  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
}

.videoWrapper {
  position: relative;
}

.sliderVideo {
  position: relative;
  margin: 50px 0 0 0;
  max-width: 1920px;
}

.wrapperMainSlideBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  gap: 315px;

  pointer-events: none;
}

.mainSlideBtn {
  width: 74px;
  height: 74px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;

  background-color: #ffffff;
  box-shadow: 0 4px 76px rgba(211, 46, 135, 0.3);

  pointer-events: all;
  cursor: pointer;
}

@media (max-width: 600px) {
  .title {
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (600 - 320)));
  }

  .wrapperMainSlideBtn {
    gap: 200px;
  }
}
