@import '../../../styles/App.scss';

.ourHeroes {
  padding: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.descHeader {
  font-weight: 700;
  font-size: 48px;

  color: #000000;
}

.navigate {
  max-width: 1315px;
  width: 100%;

  display: flex;
  align-items: center;

  &__ul {
    width: 100%;

    display: flex;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__link {
    padding: 10px 15px;

    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 16px;

    text-decoration: none;
    color: #000000;

    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
      background-color: #55bf91;
      border-radius: 20px;
    }
  }
}

.herosWrapper {
  margin-top: 32px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 50px 50px;
}

.hero {
  color: #000000;

  &__base {
    width: calc(250px + (450 - 250) * ((100vw - 500px) / (1920 - 500)));
    height: calc(250px + (450 - 250) * ((100vw - 500px) / (1920 - 500)));

    border-radius: 50%;

    &__img {
    }
  }

  &__descWrap {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
  }

  &__universe {
    margin-top: 15px;

    font-weight: 400;
    font-size: 16px;
  }
}
