@import '../../../styles/App.scss';

.activity {
  min-height: 2000px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(0deg, #f9e8f8 0%, #ffffff 100%);
}
