@import '../../../styles/App.scss';

.footer {
  padding: 30px 90px 0 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #000000;
}

@media (max-width: 1600px) {
  .footer {
    padding: 30px 50px 0 50px;
  }
}

.copyright {
  text-align: center;
}

.privacyPolicy {
  text-decoration: none;
  text-align: center;

  color: #000000;
}

@media (max-width: 1080px) {
  .footer {
    padding: 30px 40px 0 40px;
  }

  .privacyPolicy {
    display: none;
  }

  .copyright {
    max-width: 270px;
  }
}

.socialNetwork {
  display: flex;

  max-width: 230px;
  padding: 3px 20px;
  width: 100%;
  gap: 20px;

  align-items: center;

  border-radius: 20px;
}

.socialIcon {
  display: flex;
  justify-content: center;

  max-width: 32px;
  width: 100%;

  cursor: pointer;
}

.vkIcon {
  fill: #000000;

  &:hover {
    fill: #2474f0;
  }
}
.instagramIcon {
  fill: #000000;

  &:hover {
    fill: #e93f60;
  }
}
.telegramIcon {
  fill: #000000;

  &:hover {
    fill: #34aadf;
  }
}
.whatsAppIcon {
  fill: #000000;

  &:hover {
    fill: #00be50;
  }
}
