@import '../../../styles/App.scss';

.footer {
  padding: 30px 90px 0 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #000000;
}

.copyright {
  text-align: center;
}

.privacyPolicy {
  text-decoration: none;
  color: #000000;
}

.socialNetwork {
  display: flex;

  max-width: 230px;
  padding: 3px 20px;
  width: 100%;
  gap: 20px;

  align-items: center;

  border-radius: 20px;
}

.socialIcon {
  display: flex;
  justify-content: center;

  max-width: 32px;
  width: 100%;

  cursor: pointer;
}

.vkIcon {
  fill: #000000;

  &:hover {
    fill: #2474F0;
  }
}
.instagramIcon {
  fill: #000000;

  &:hover {
    fill: #E93F60;
  }
}
.telegramIcon {
  fill: #000000;

  &:hover {
    fill: #34AADF;
  }
}
.whatsAppIcon {
  fill: #000000;

  &:hover {
    fill: #00BE50;
  }
}