@import '../../../styles/App.scss';

.mainScreen {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btnMainScreen {
  position: absolute;

  margin-bottom: 180px;

  max-height: 80px;
  max-width: 360px;
  width: 100%;
  height: 100%;

  padding: 35px;
}

.videoPresentation {
  width: 100%;
  pointer-events: none;
}
