@import '../../../styles/App.scss';

.mainScreen {
  min-height: 885px;
  height: 100%;
  padding: 620px 0 180px 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-color: #000000;
}

.btnMainScreen {
  max-height: 80px;
  max-width: 450px;
  width: 100%;
  height: 100%;

  padding: 35px;
}
