@import '../../../styles/App.scss';

.button {
  padding: 20px 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
  text-decoration: none;
  border: none;
  background: linear-gradient(180deg, #f06198 0%, #e83752 100%);

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  text-transform: uppercase;
  border-radius: 30px;

  color: #ffffff;

  cursor: pointer;
}
