.btnVideo {
  position: absolute;

  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(180deg, #f06198 0%, #e83752 100%);
  border-radius: 30px;

  cursor: pointer;
  z-index: 3;
}
.btnVideoIcon {
  width: 20px;
  height: 20px;
}
