.videoWrapper {
  position: relative;
  margin: 0 10px;

  max-height: 615px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  overflow: hidden;
}

@media (max-width: 1500px) {
  .videoWrapper {
    min-height: 480px;
    min-width: 270px;
  }
}

@media (max-width: 600px) {
  .videoWrapper {
    min-height: 370px;
    min-width: 210px;
  }
}

.backgroundShow {
  position: absolute;

  width: 100%;
  height: 100%;

  background: #ffffff;
  opacity: 0.6;
  z-index: 2;

  pointer-events: none;
}

.backgroundHide {
  position: absolute;

  width: 100%;
  height: 100%;

  z-index: 2;
  cursor: pointer;

  pointer-events: all;
}

.dtnVideoHide {
  display: none;
}

.dtnVideoShow {
  display: flex;
}

.videoShorts {
  width: 100%;
  z-index: 1;
}
