.ButtonHero {
  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  border-radius: 20px;
  color: #000000;

  text-transform: uppercase;
  white-space: nowrap;

  outline: none;
  text-decoration: none;
  background: none;

  cursor: pointer;
  border: 1px solid #ffffff;

  &:hover {
    border: 1px solid #000000;
  }
}
