.ButtonHero {
  min-height: 40px;
  width: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  border-radius: 20px;
  color: #000000;

  text-transform: uppercase;
  white-space: nowrap;

  outline: none;
  text-decoration: none;
  border: none;
  background: none;

  cursor: pointer;

  &:hover {
    border: 1px solid #000000;
  }
}

//@media (max-width: 1300px) {
//  .ButtonHero {
//    width: 130px;
//  }
//}