.sliderTeam {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 75px;

  grid-template-areas: "A B";

  &__description {
    max-width: 615px;

    grid-area: A;

    position: relative;
    left: 0;
    opacity: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    color: #000000;

    animation-name: changingText;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  &__mainSlide {
    max-width: 570px;
    height: auto;

    grid-area: B;

    position: relative;
    display: flex;
    align-items: center;
  }

  &__secondarySlide {
    grid-area: C;

    position: relative;
    display: flex;
    align-items: center;
  }
}

.employeeTitleName {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.employeeTitlePost {
  margin: 10px 0 0 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.employeeDesc {
  margin: 30px 0 0 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  white-space: pre-line;
}

.employeeBtn {
  margin: 50px 0 0 0;
  padding: 20px 35px;
  gap: 20px;

  &_icon {
    width: 20px;
    height: 20px;
  }
}

.wrapperMainSlideBtn {
  position: absolute;
  right: -55px;

  width: 110%;

  display: flex;
  justify-content: space-between;
}

.mainSlideBtn {
  width: 74px;
  height: 74px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;

  background-color: #ffffff;
  box-shadow: 0 4px 76px rgba(211, 46, 135, 0.3);

  cursor: pointer;
}

.wrapperEmployeeMainSlide {
  position: relative;

  width: 100%;
  max-width: 570px;
  height: auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 75px;

  overflow: visible;
}

.employeeMainSlide {
  position: relative;
  left: 0;

  max-width: 570px;
  height: auto;

  opacity: 1;

  animation-name: disappearanceImg;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  pointer-events: none;
}

.employeeSecondarySlide {
  position: relative;
  left: 0;

  max-width: 410px;
  height: auto;

  animation-name: transitionImg;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.employeeThumbnailSlide {
  position: relative;
  left: 0;

  width: 100%;
  max-width: 410px;
  height: auto;

  opacity: 0;

  animation-name: appearanceImg;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.employeeMainSlideReverse {
  position: relative;
  left: 0;

  max-width: 570px;
  height: auto;

  opacity: 1;

  animation-name: disappearanceImgRev;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  pointer-events: none;
}

.employeeSecondarySlideReverse {
  position: relative;
  left: 0;

  max-width: 410px;
  height: auto;

  animation-name: transitionImgRev;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.employeeThumbnailSlideReverse {
  position: relative;
  left: 0;

  width: 100%;
  max-width: 410px;
  height: auto;

  opacity: 0;

  animation-name: appearanceImgRev;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes disappearanceImgRev {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes transitionImgRev {
  0% {
    left: -100%;
    width: 100%;
    max-width: calc(400px + (570 - 400) * ((100vw - 1080px) / (1980 - 1080)));
  }
  100% {
    left: 0;
    width: 100%;
    max-width: calc(280px + (410 - 280) * ((100vw - 1080px) / (1980 - 1080)));
    height: auto;
  }
}

@keyframes appearanceImgRev {
  0% {
    opacity: 1;
    left: -100%;
  }
  100% {
    opacity: 0;
    left: 0;
  }
}

@keyframes disappearanceImg {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: -100%;
  }
}

@keyframes transitionImg {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
    width: 100%;
    max-width: calc(400px + (570 - 400) * ((100vw - 1080px) / (1980 - 1080)));
    height: auto;
  }
}

@keyframes appearanceImg {
  0% {
    opacity: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    left: -100%;
  }
}

@keyframes changingText {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: -100%;
  }
}

@keyframes changingTextRev {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: -100%;
  }
}

@media (max-width: 1980px) {
  .sliderTeam {
    gap: calc(50px + (75 - 50) * ((100vw - 1600px) / (1980 - 1080)));
  }

  .sliderTeam__description {
    max-width: calc(490px + (615 - 490) * ((100vw - 1080px) / (1980 - 1080)));
  }

  .sliderTeam__mainSlide {
    max-width: calc(400px + (570 - 400) * ((100vw - 1080px) / (1980 - 1080)));
  }

  .wrapperEmployeeMainSlide {
    max-width: calc(400px + (570 - 400) * ((100vw - 1080px) / (1980 - 1080)));
    gap: calc(30px + (75 - 30) * ((100vw - 1600px) / (1980 - 1080)));
  }

  .employeeMainSlide {
    max-width: calc(400px + (570 - 400) * ((100vw - 1080px) / (1980 - 1080)));
  }

  .employeeSecondarySlide {
    max-width: calc(280px + (410 - 280) * ((100vw - 1080px) / (1980 - 1080)));
  }

  .employeeThumbnailSlide {
    max-width: calc(280px + (410 - 280) * ((100vw - 1080px) / (1980 - 1080)));
  }

  .employeeMainSlideReverse {
    max-width: calc(400px + (570 - 400) * ((100vw - 1080px) / (1980 - 1080)));
  }

  .employeeSecondarySlideReverse {
    max-width: calc(280px + (410 - 280) * ((100vw - 1080px) / (1980 - 1080)));
  }

  .employeeThumbnailSlideReverse {
    max-width: calc(280px + (410 - 280) * ((100vw - 1080px) / (1980 - 1080)));
  }
}

@media (max-width: 1600px) {
  .sliderTeam {
    gap: 30px;
  }

  .wrapperEmployeeMainSlide {
    gap: 30px;
  }
}

@media (max-width: 1080px) {
  .sliderTeam {
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr;

    grid-template-areas:
      "B"
      "A";
  }

  .sliderTeam {
    gap: 30px;
  }

  .sliderTeam__description {
    max-width: 615px;
  }

  .wrapperEmployeeMainSlide {
    gap: 30px;
  }

  .wrapperMainSlideBtn {
    right: -40px;
  }
}
