@import '../../../styles/App.scss';

.wrapperSticky {
  position: fixed;
  top: 0;

  min-height: 150px;

  display: flex;
  align-items: center;

  z-index: 4;
}

.header {
  width: 100%;
  padding: 0 30px;

  display: grid;
  grid-template-columns: 230px 1fr 230px;
  grid-template-rows: auto;
  gap: 20px;

  grid-template-areas: 'A B C';

  color: #ffffff;
}

.socialNetwork {
  grid-area: A;
  justify-self: start;

  width: 230px;
  min-height: 50px;
  padding: 3px 20px;

  display: flex;
  gap: 20px;

  align-items: center;

  border-radius: 30px;
  background-color: #ffffff;

  cursor: pointer;
}

.WhatsAppIcon {
  fill: #00be50;
}

.socialIcon {
  display: flex;
  justify-content: center;

  font-size: 14px;
  font-weight: 700;
  line-height: 17px;

  color: #000000;

  text-decoration: none;
  white-space: nowrap;
}

.contactPhone {
  grid-area: C;
  justify-self: end;

  min-height: 50px;
  width: 230px;
  padding: 3px 10px;

  display: flex;
  align-items: center;

  border-radius: 30px;
  background-color: #ffffff;
}

.phoneIcon {
  display: flex;
  justify-content: center;

  max-width: 40px;
  width: 100%;
}

.phoneText {
  color: #000000;
  font-weight: bold;

  text-decoration: none;
}

.navigate {
  grid-area: B;

  padding: 0 40px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px;

  justify-content: space-between;
  align-items: center;

  border-radius: 30px;
  background-color: #000000;
}

.navigateBlocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  &__link {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    text-align: center;

    text-decoration: none;
    color: #ffffff;

    text-transform: uppercase;

    &:hover {
      color: #00be50;
    }
  }
}

.logo {
  margin: 0 auto;
}

.socialIconTextMin {
  display: none;
}

@media (max-width: 1500px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
      'A C'
      'B B';
    align-items: flex-start;
  }
}

@media (max-width: 1600px) {
  .logo {
    height: 105px;
  }
}

@media (max-width: 1080px) {
  .logo {
    height: 80px;
  }

  .navigateBlocks {
    gap: 20px;
  }

  .navigate__link {
    font-size: 12px;
  }
}

@media (max-width: 950px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 'A B C';
    padding: 0 10px;
    gap: 0;
  }

  .socialNetwork {
    max-height: 50px;
  }

  .contactPhone {
    max-height: 50px;
  }

  .navigate {
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    background-color: transparent;
  }

  .navigateBlocks {
    display: none;

    &__link {
      display: none;
    }
  }
}

@media (max-width: 785px) {
  .header {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    grid-template-areas:
      'A C'
      'B B';
    gap: 10px;
  }

  .socialNetwork {
    min-height: 0;
    height: 40px;
    width: 200px;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
  }

  .WhatsAppIcon {
    width: 22px;
    height: 22px;
  }

  .socialIconText {
    display: none;
  }

  .socialIconTextMin {
    display: flex;
    font-size: 14px;
  }

  .contactPhone {
    min-height: 0;
    max-width: 200px;
    height: 40px;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    gap: 10px;
  }

  .phoneIcon {
    width: 15px;
    height: 22px;
  }
}

@media (max-width: 450px) {
  .wrapperSticky {
    transform: translateY(170px);
  }

  .header {
    padding: 0;
    gap: 10px;
  }

  .socialNetwork {
    height: 30px;
    width: 140px;

    gap: 5px;
  }

  .WhatsAppIcon {
    width: 16px;
    height: 16px;
  }

  .contactPhone {
    max-width: 140px;
    height: 30px;

    gap: 5px;
  }

  .phoneIcon {
    width: 9px;
    height: 15px;
  }
}
