@import '../../../styles/App.scss';

.header {
  position: sticky;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #ffffff;
  transform: translateY(130px);
  z-index: 1;
}

.socialNetwork {
  min-width: 230px;
  min-height: 50px;
  padding: 3px 20px;

  display: flex;
  gap: 20px;

  align-items: center;

  border-radius: 20px;
  background-color: #ffffff;
}

.socialIcon {
  display: flex;
  justify-content: center;

  max-width: 32px;
  width: 100%;

  cursor: pointer;
}

.contactPhone {
  min-height: 50px;
  min-width: 230px;
  padding: 3px 10px;

  display: flex;
  align-items: center;

  border-radius: 20px;
  background-color: #ffffff;
}

.phoneIcon {
  display: flex;
  justify-content: center;

  max-width: 40px;
  width: 100%;
}

.phoneText {
  color: #000000;
  font-weight: bold;
}

.navigate {
  margin: 0px 50px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 20px;
  background-color: #000000;

  &__link {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 16px;

    text-align: center;

    text-decoration: none;
    color: #ffffff;

    text-transform: uppercase;
  }

  .navigateBlock_one {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .logo {
    height: 130px;
    width: 430px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigateBlock_two {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
